[Unit]
Description=ChirpStack Packet Multiplexer
Documentation=https://www.chirpstack.io/
Wants=network-online.target
After=network-online.target

[Service]
User=packetmultiplexer
Group=packetmultiplexer
ExecStart=/usr/bin/chirpstack-packet-multiplexer
Restart=on-failure

[Install]
WantedBy=multi-user.target
