[Unit]
Description=LoRa Packet Multiplexer
Documentation=https://www.loraserver.io/
Wants=network-online.target
After=network-online.target

[Service]
User=packetmultiplexer
Group=packetmultiplexer
ExecStart=/usr/bin/lora-packet-multiplexer
Restart=on-failure

[Install]
WantedBy=multi-user.target
